#pop-up {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    z-index: 10;
    transition: 200ms ease-in-out;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    gap: 20px;
    align-items: center;
}

#pop-up.active {
    transform: translate(-50%, -50%) scale(1);
}

#overlay {
    position: fixed;
    opacity: 0;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    pointer-events: none;
}

#overlay.active {
    background-color: black;
    z-index: 9;
    opacity: 0.4;
    pointer-events: all;
}

#pop-up ul {
    margin: 0;
    padding: 0;
    position: relative;
    list-style: none;
    right: 24px;
    bottom: 56px;
    float: right;
    width: 217px;
    height: 234px;
    border-radius: 6px;
    background-color: white;
    border: 2px solid black;
}

#pop-up ul h3 {
    text-align: center;
    font-size: 1.4rem;
    font-weight: bolder;
    margin: 0 0 15px 0;
}

#pop-up .pop-up-pokemon-detail {
    background-image: url(../img/pokedex.webp);
    width: 627px;
    background-repeat: no-repeat;
    background-size: contain;
}


#pop-up .pop-up-content {
    height: 392px;
}

#pop-up .pop-up-content h4 {
    margin: 0 8px 0 0;
}

#pop-up .pop-up-content .pokemon-info {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 0 0 10px 15px;
}

#pop-up .pop-up-content .pokemon-id {
    position: relative;
    font-size: 1.4rem;
    font-weight: bolder;
    top: 183px;
    left: 84px;

}

#pop-up .pop-up-content .popup-pokemon-image-container {
    position: relative;
    width: 194px;
    height: 130px;
    left: 41px;
    top: 81px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    border: 2px solid black;
    border-radius: 6px;
}

#pop-up .pop-up-content .popup-pokemon-image-container img{
    width: 120px;
    height: 120px;
}

#pop-up .pop-up-header {
    display: flex;
    justify-content: flex-end;
}

#pop-up .pop-up-header #close-popup {
    background-color: #B4011E;
    color: white;
    font-weight: bold;
    cursor: pointer;
    border: 1px solid black;
    border-radius: 5px;
    width: 100px;
    height: 50px;
    font-size: 1.1rem;
}

#pop-up .pop-up-header #close-popup:hover {
    background-color: #b43449;
}

#pop-up .pop-up-attack-content{
    border-radius: 14px;
    background-color: #B4011E;
    padding: 15px;
    height: fit-content;
    max-height: 90dvh;
}

#pop-up .pop-up-attack-content h2{
    color: white;
    margin: 0;
}

#pop-up .pop-up-attack-content .table-attack-container table{
    font-size: 14px;
    background-color: white;
    border-radius: 6px;
    overflow: hidden;
    margin: 5px 0 10px 0;
}

#pop-up .pop-up-attack-content .table-attack-container table td{
    padding: 4px;
}

@media screen and (max-width: 1060px) {
    #pop-up {
        all: initial;
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%) scale(0);
        z-index: 10;
        transition: 200ms ease-in-out;
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        gap: 20px;
        align-items: center;
        background-color: white;
    }
    #pop-up .pop-up-content {
        all: initial;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 20px;
    }

    #pop-up .pop-up-content .popup-pokemon-image-container {
        all: initial;
    }
    
    #pop-up ul {
        all: initial;
        list-style: none;
        font-family: "Montserrat", sans-serif;
    }
    #pop-up .pop-up-pokemon-detail {
        width: unset;
    }
    

    #pop-up .pop-up-pokemon-detail {
        background: unset;
    }

    #pop-up {
        font-family: "Montserrat", sans-serif;
    }
}

@media screen and (max-width: 860px) {
    #pop-up {
        flex-direction: column;
    }

    #pop-up .pop-up-content {
        flex-direction: row;
        min-width:  unset;
        width: 100%;
    }
}
