.sort {
    display: block;
    width: 25px;
    height: 25px;
    background-image: url(../img/icon/sort.svg);
    background-size: cover;
    transition: 200ms linear;
}

#pokemon-table thead th div{
    display: flex;
    align-items: center;
    cursor: pointer;
}

#pokemon-table thead th > :not(.sorted-desc) .sort {
    transform: rotate(180deg);
}