body {
    font-family: "Montserrat", sans-serif;
    background-color: #EBDDCC;
  }

  table {
    width: 100%;
    border-collapse: collapse;
    border: 2px solid #B4011E;

  }
  th,
  td {
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid #d9c8b3;
    color: #B4011E;
  }
  
  th {
    background-color: #d9c8b3;
  }

  /* Style pour les lignes du tableau */
  tr{
    background-color: #EBDDCC; }
  tr:nth-child(even) {
    background-color: #d9c8b3;
  }
  tr:hover {
    background-color: #CFBCA4;
  }

.sort {
    display: block;
    width: 25px;
    height: 25px;
    background-image: url(../img/icon/sort.svg);
    background-size: cover;
    transition: 200ms linear;
}

#pokemon-table thead th div{
    display: flex;
    align-items: center;
    cursor: pointer;
}

#pokemon-table thead th > :not(.sorted-desc) .sort {
    transform: rotate(180deg);
}

#filter-container {
    display: flex;
    justify-content: space-between;
    margin: 20px;
}

select,input {
  padding: 8px;
  font-size: 16px;
  border-radius: 5px;
  border: 1px solid #ccc;
  background-color: #d9c8b3;
}

/* Style pour les éléments select lorsqu'ils sont survolés */
select:hover, input:hover {
  border-color: #B4011E;
  
}

/* Style pour les éléments select lorsqu'ils sont activés */
select:focus, input:focus {
  outline: none;
  border-color:  #B4011E;
  border-width: 2px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
}

label {
  display: block;
  margin-bottom: 8px;
  font-weight: bold;
  color: #333; /* Couleur du texte */
}
header {
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: space-between;
}

header #filter-container {
  display: flex;
  flex-wrap: wrap;
}

header #filter-container div{
  margin-right: 20px;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
}

header #filter-container div label{
  margin-bottom: 0;
  margin-right: 6px;
}

.pagination-container{
  height: fit-content;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.pagination-container a {
  text-align: center;
  text-decoration: none;
  background-color: #B4011E;
  color: white;
  font-weight: bold;
  cursor: pointer;
  border: 1px solid black;
  border-radius: 5px;
  width: 100px;
  font-size: 1.1rem;
  padding: 5px;
}

.pagination-container p {
  font-weight: bold;
  font-size: 1.2rem;
}

.pagination-container a:hover {
  background-color: #b43449;
}